<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>graphcore</title>
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <div class="box">
        <p>Object Detection yolo 目标检测</p>
        <a href="http://localhost:9001/">目标检测例子</a>
    </div>

    <div class="box">
        <p>ASR WENET 语言识别</p>
        <a href="http://localhost:9002/">ASR例子</a>
        
    </div>

    <div class="box">
        <p>NLP GPT3 语义理解</p>
        <a href="http://localhost:9003/">NLP例子</a>
        
    </div>

</body>



</html>
